# sets the global environment to point to the Oracle JDK

export JDK_HOME={{jdk_global_jdk_directory}}
export JAVA_HOME={{jdk_global_jdk_directory}}
export JAVA_CMD={{jdk_global_jdk_directory}}/bin/java

PATH=$PATH:{{jdk_global_jdk_directory}}/bin
